<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ &quot;$(docker ps -aq -f status=exited -f name=vaolo_tests)&quot; ]; then
        # cleanup
        docker rm vaolo_tests
fi

if [ &quot;$(docker images samuelboucher/vaolo_tests 2&gt; /dev/null)&quot; != &quot;&quot; ]; then
  docker rmi samuelboucher/vaolo_tests
fi

docker pull samuelboucher/vaolo_tests
timeout -k 60 60 docker run --name vaolo_tests samuelboucher/vaolo_tests
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>